<%= @concept.title %> <br>
<%= @concept.description %> <br>
<%= @concept.resource_links %> <br>


<p> if user is signed in, link_to create a new concept </p>
<p> if user is signed in, link_to show sections </p>
<p> if user is signed in, link_to admin_page  </p>


