<div class="row">
  <div class="container-fluid col-md-8 col-md-offset-5 center-block">
    <%= @concept.title %> <br>
    <%= @concept.description %> <br>
    <%= @concept.resource_links %> <br>
  </div>
</div>