<div class="container">
  <div id="favs">
    <h5> Favorite Concepts! </h5>
    <% @favorites.each do |concept| %>
      <%= link_to "#{concept.title}", user_concept_path(concept.user_id, concept.id) %><br>
    <% end %>

    <div id="right-div">
      <%= link_to "Unfavorited", user_concepts_path(@user, @concept), class: "col-5 center btn btn-info remainingConcepts"  %>
    </div>
  </div>


  <div id="freshConcept">
    <%= render "concepts/index" %>
  </div>
</div>