<h2 class= "concept-title text-center"><%= @concept.title.upcase %></h2> <br>

<strong>Description</strong>
<p><%= @concept.description %></p>

<% if @concept.favorited %>
  <p>Favorited♥! (Saved to your favorites list) </p>
<% end %>

<div class="col-12 text-center">
  <%= link_to "Edit Concept", edit_user_concept_path(@user, @concept), class: "col-2 btn btn-info"  %>
  <%= button_to "Delete Concept", user_concept_path(@user, @concept), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger col-2' %>
</div>