
nav {
  margin-bottom: 30px;
}
body {
  padding-top: 60px;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}