#show-table {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  text-align: center;
  border: 5px;
  border-radius: 5px;
  background-color: black;
  vertical-align: middle;
  box-shadow: -2px 5px 20px #aaaaaa;
  display: table;
  position:absolute;
  height: 600;
  // left:0; right:0;
  // top:0; bottom:0;
  // margin: auto;
}