#show-table {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
  border: 5px;
  border-radius: 5px;
  box-shadow: -2px 5px 20px #aaaaaa;
  display: table;
  margin: auto;
  position: absolute;
  text-align: center;
  vertical-align: middle;

  top: 0; left: 0; bottom:0; right: 0;
}

#nextConcept {
  box-shadow: -2px 5px 20px #aaaaaa;
  margin-bottom: 1%;
}